<% if signed_in? %>
<div class="row-fluid">
    <div class="span6">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </div>
    <div class="span6">
      <section>
        <%= render 'shared/article_form' %>
      </section>
    </div>
<% else %>
<div class="bg"></div>

<!-- BEGIN #home -->
<div id="splash">
	
	<!-- BEGIN #header-top -->
	
	
	<!-- END #header-top -->

	<!-- BEGIN .block -->
	<div class="block">
	
			<div class="home splash">

			<h1 class="center shadow-light">Welcome to:</h1>

			<a class="logo center marginbottom">Bivit</a>
			
			<h3 class="center shadow-light">Creating, sharing, and collaborating on <br/> information since 2013</h3>

			</div>
		
	</div>
	<!-- END .block -->	

</div>
<%end%>