<% if signed_in? %>
<div id="main">
<%=render 'shared/user-top' %>
<%=render 'shared/home-top' %>
</div>



















<% else %>
<div class="bg"></div>

<!-- BEGIN #home -->
<div id="splash">
	
	<!-- BEGIN #header-top -->
	
	
	<!-- END #header-top -->

	<!-- BEGIN .block -->
	<div class="block">
	
			<div class="home splash">

			<h1 class="center shadow-light">Welcome to:</h1>

			<a class="logo center marginbottom">Bivit</a>
			
			<h3 class="center shadow-light">Creating, sharing, and collaborating on <br/> information since 2013</h3>

			</div>
		
	</div>
	<!-- END .block -->	

</div>
<%end%>