<% provide(:title, 'All Articles') %>

<div id="home">
	<div class="block">
		<section id="top" class="row left">

			<section id="current" class="col6">
				<!-- Industry Name -->
				<h3 class="left">Articles</h3>
				
				<!-- Add Article -->
								
			</section>

			<section id="industries" class="right col6">
				<div class="slide-container">
					<section class="slide">
					</section>
				</div>
				<a id="industries_prev" href="#">Previous</a>
				<a id="industries_next" href="#">Next</a>
			</section>
		</section>

		<div class="cf"></div>

		<%= render "shared/article_form" %>

		<%= render "shared/feed" %>
	</div>
</div>