<% provide(:title, 'All users') %>
<div id="users">
    <div class="block">
      <section id="top" class="row left">

        <section id="current" class="col6">
          <!-- Industry Name -->
          <h3 class="left">All Users</h3>
        </section>

        <!-- <section id="industries" class="right col6">
          <div class="slide-container">
            <section class="slide">
            </section>
          </div>
          <a id="industries_prev" href="#">Previous</a>
          <a id="industries_next" href="#">Next</a>
        </section> -->
      </section>
      <div class="cf"></div>
      <section id="info">
        <section class="feed">
          <%= will_paginate %>
            <%= render @users %>      
          <%= will_paginate %>
        </section>
        
      </section>
    </div>
  </div>
