<article class="article">
	<aside>
		<header><%= feed_item.headline %></header>
		<p><%= feed_item.content %></p>
		<!-- <a href="#" data-mfp-src="#test-popup" class="open-popup-link"> -->
		<%= link_to 'Show' do  %>
			<button class="right small btn-blue">Read More</button>
		<% end %>
	</aside>
</article>