<div class="block user-top">
	<section id="username" class="left">
		<h3 class="left">Hello, <strong><a href="<%= user_path(current_user) %>"><%= current_user.first_name + " " + current_user.last_name %></a></strong></h3>	
	</section>
</div>

