
	<div class="block user-top">
		
		<section id="username" class="left">
		
			<h3 class="left">Hello, <strong>

			</strong></h3>
			
			<a href="home.php?view=profile&action=edit"><button class="small btn-blue round left">Edit Profile</button></a>
			
		</section>

			
	</div>