<a href="<%= user_path(current_user) %>">
</a>
<h2>
  <%= link_to current_user.first_name + " " + current_user.last_name, linkedin_profile_path %> 
</h2>
<span>
  <%= pluralize(current_user.articles.count, "article") %>
</span>
