<%= form_for @room, html: { class: 'form-horizontal' } do |f| %>

      <%= f.text_field :name, :placeholder => "Biv Name" %>

  <div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
  
<% end %>
