<table class="table table-striped">
<% @rooms.each do |room| %>
  <tr>
    <td><h4><%= link_to room.name, room %></h4></td>
    <!--
    <td><%= link_to 'Show', room %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    -->
  </tr>
<% end %>
</table>