<div id="users">
    <div class="block">
      <section id="top" class="row left">

        <section id="current" class="col6">

          <h3 class="left">All Bivs</h3>
        </section>

      </section>
      <div class="cf"></div>
      <section id="info">
        <section class="feed">
            <%= render @rooms %>      
        </section>
        
      </section>
    </div>
  </div>

<%= link_to 'BivIt!', new_room_path, class: 'btn pull-right' %>
