<h1>Please press the button below to allow BivIt to create a complete profile using online the public information from your LinkedIn profile.</h1>
<a href="/linkedin_oauth_url" class="btn btn-primary btn-larg">Connect to LinkedIn</a>
