/*
**	@file		style.css
**	@author		Andrew Carl, andrew@wall-it.co
**	@date		8/1/13
*/

/*
**	@Primary
**	@Splash Page
**	@Login
**	@Main Pages
**	@Nav
**	@Buttons
**	@Clearfix
**	@Reset by Eric Meyer
*/

/*
**	@Primary
**
*/ 


	
body {font-size: 16px; font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;background:  url('check-grey-texture-bg.png') repeat center center;}

body * {font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;}

h1, h2, h3, h4, h5, h6 {}

h1 {font-size: 2.2em !important; }
h2 {font-size: 2em !important;}
h3 {font-size: 1.4em !important;}
h4 {font-size: 1em !important;}
h5 {font-size: 1.4em !important;}
h6 {font-size: 1.2em !important;}

.left {float: left;}
.right {float: right;}
.center {text-align:center;}
img.center {display: block; margin: 0px auto;}

.shadow-light {text-shadow: 2px 2px 2px black;}

a.logo {display: block; text-indent: -9999px; height: 66px; width: 200px; background: url('logo.png') no-repeat center center;}
a.logo.center {margin: 0px auto;}
a.logo.marginbottom {margin-bottom:27px;}

div.bg { background: url('wilderness-bg.png') no-repeat center center fixed;   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; width: 100%; height: 100%; z-index: -1; position: absolute;}

#wrapper {width: 100%}

.block {margin: 0px auto;display: block;max-width: 978px;}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}

.top-round {border-top-right-radius: 5px; border-top-left-radius: 5px;}

/*
**	@Splash Page
*/


#header-top {min-height: 45px; width: 100%; background: url('grey-texture-bg.png') repeat; padding: 23px 0; border-bottom: 2px solid #777; }

.home.splash {padding: 125px 0 0 0; color: white;}

.home.splash h1, .home.splash h3 {margin-bottom: 27px;}



/*
**	@Login Page
*/

div.login.splash {margin: 75px auto 0 auto;}

	div.login.splash div {padding: 7px; background: url('box-blue-transparent.png') repeat-x top left;width: 375px; float: left;clear: both; display:block; border: 1px solid #002d6f}
	div.login.splash div {margin-bottom: 15px;}
		div.login.splash div h1 {color:#002d6f ; padding-bottom: 7px; border-bottom: 2px solid #dedede; margin-bottom: 7px; }
		div.login.splash div input {clear:both; float: left;padding: 3px;overflow: hidden;}
		div.login.splash div input[type="submit"] {
			background:none;
			border: none; margin:1px;font-size: 1.6em; padding: 13px;border-radius: 7px;
	 color: white; font-weight: bold;
	display:inline-block;
	float: right;}
		div.login.splash div button {clear:both;}
		div.login.splash div input.approved::after {content: ""; display: block; position: absolute; right: -35px; height: 35px; width: 35px; background: black;}



/*
**	@Nav
*/

nav#main {background: #CEDEF5; padding-bottom: 13px;}
	nav#main ul.menu {list-style: none; max-width: 978px; margin: 0px auto; display: block; padding: 17px;}
		nav#main ul.menu li {display: inline; float: left; margin-right: 17px;}
			nav#main ul.menu li a, 
			nav#main ul.menu li a:visited  {text-decoration: none; font-size: 14px; font-weight: bold;padding: 5px; border-radius: 5px; color: #002D6F;}
			nav#main ul.menu li a:hover,
			nav#main ul.menu li.current-menu-item a:hover
				{color: white; background: #002D6F; text-decoration: none !important;}
			nav#main ul.menu li.current-menu-item a {text-decoration: underline;}
	
		

/*
**	@Main Pages
*/


#main {background:  url('check-grey-texture-bg.png') repeat center center; height: 100% !important;}

#top {width: 100%; clear:both;}

#home #top #current {width: 50%;}
	#home #top #current h3 {padding: 7px 7px 7px 0;}

#home #top #industries {width:50%; position: relative; padding-right: 35px;}
#home #top #industries div.slide-container {width: 100%; overflow: hidden; display: block;}
	#industries_prev, #industries_next {text-indent: -9999px; display: block; border-radius: 12.25px; position:absolute;top: 2px;}
	#industries_prev {	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	
	border-right:10px solid #b8b8b8; left: -20px;}
	#industries_next {	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	
	border-left:10px solid #b8b8b8; right: 15px;}

	
#home #feed {   /* Prevent vertical gaps */
   -webkit-column-count: 4;
   -webkit-column-gap:   12px;
   -moz-column-count:    4;
   -moz-column-gap:      12px;
   column-count:         4;
   column-gap: 			12px;
   padding-top: 13px;
   height: 100% !important;
	}

	/*
	** ADD RESPONSIVE
	*/

#home article.article {height: auto !important; margin-bottom: 13px; padding: 13px; background: white; border: 1px solid #dedede; text-align: left; overflow: visible;}
	#home article.article header {font-size: 22px; padding: 0 0 3px 0; margin: 0 0 3px 0; border-bottom: 1px solid #dedede;}
	#home article.article aside {display: inline-block; width: 100%;}

section#username {padding: 7px 0;margin-bottom: 13px; border-bottom: 2px solid #dedede;display:inline-block; width: 100%; }
	section#username h3 {margin-right: 7px;}

section#industries {width: 50%;}
	section#industries h3 {float:left; margin-right: 7px; padding: 5px; background: #78036E; color: white;  }


/*
**	@Popup
*/

#popup {width: 940px; heighT: auto; display: block; padding: 8px 17px 13px 17px; border-radius: 5px;}

	#popup.single #content {width: 73%; margin-right: 2%; height: 250px; overflow: auto; margin-top:17px;background: white;}
			#popup.singl #content aside {padding: 7px;  color: black; }
			
	#popup.single #takeaway {width: 25%;}
		#popup.single #takeaway header {}
		#popup.single #takeaway .feed {max-height: 175px; overflow: auto;  clear:both;}
			#popup.single #takeaway .feed .entry {padding: 7px; background: white; color: black; border-bottom: 2px solid #dedede; margin-bottom: 7px;}
				#popup.single #takeaway .feed .entry button {clear:both;}
				#popup.single #takeaway .feed .entry .content {}

	#popup.single #post {width: 25%;}
		#popup.single #post textarea {max-height: 225px;width: 100%;}
		#popup.single #post button {margin-top:7px;}
		
#popup.add {}
	#popup.add #write {width: 73%; margin-right: 2%;}
		#popup.add #write header {background:#73A7F5; color: white; text-align: center;font-size: 24px;padding: 7px; display: inline-block;}
		#popup.add #write textarea {height: 275px; overflow: auto; width:100%;margin-bottom: 13px;}
		#popup.add #write input {width: 100%; padding: 5px; font-size: 16px; margin:0;}
	#popup.add #takeaway {width: 25%;}
		#popup.add #takeaway header {background:#73A7F5; color: white; text-align: center;font-size: 24px;padding: 7px; display: inline-block;}
		#popup.add #takeaway textarea {height: 275px; width: 100%;clear:both; margin-bottom:13px;}
		#popup.add #takeaway button {clear:both;}
	
/*
** @Notifications
*/	
	
#notifications #top {font-size: 24px; padding: 7px; color: white; font-weight: bold; background: #FF6C00;}
	
#notifications #feed {width: 62%; margin-right: 2%; overflow: auto; margin: 25px 2% 0 2%; max-height: 375px;}
	#notifications #feed aside {padding: 5px; background:#73A7F5; color: white; text-align: center; margin-bottom: 3px; }
		#notifications #feed aside:hover {background: #a0c1f4;}

#notifications #single {width: 30%; margin: 25px 0 0 0; background: white; border: 1px solid #dedede; padding: 13px;}
	#notifications #single header {background:#73A7F5; color: white; text-align: center; margin-bottom: 13px; font-size: 24px;padding: 7px;}
	#notifications #single aside {}
	#notifications #single button {float:right; margin-top: 7px;}


/*
** @Biv
*/
	
#biv #top {font-size: 24px; padding: 7px; color: white; font-weight: bold; background: #A40696; width: auto; margin-bottom: 7px;}

#biv #files {width: 22%; margin-right: 2%; overflow: auto;}

	#biv #files header {background:#73A7F5; color: white; text-align: center; margin-bottom: 7px; font-size: 24px;padding: 7px;}
	
	#biv #files .feed {overflow: auto; max-height: 355px;}
		#biv #files .feed aside {padding: 7px; background:#73A7F5;margin-bottom: 7px; }
			#biv #files .feed aside:hover {background: #a0c1f4;}
			#biv #files .feed aside span {float: left; width: 72%; margin-bottom: 5px; color: white;}
			#biv #files .feed aside img {}

#biv #post {width: 50%; margin-right: 2%; overflow: auto;}

	#biv #post .feed {overflow: auto; max-height: 135px;}
		#biv #post .feed aside {padding: 5px; background:#73A7F5; color: white; text-align: center; margin-bottom: 3px; display: block;}
		#biv #post .feed aside:hover {background: #a0c1f4;}

	#biv #post .create {}
		#biv #post .create textarea {width: 100%; min-height: 175px;}
		#biv #post .create .insert {}
			#biv #post .create .insert h3 {padding: 7px;}

#biv #members {width: 22%; overflow: auto;}

	#biv #members header {background:#73A7F5; color: white; text-align: center; margin-bottom: 7px; font-size: 24px;padding: 7px;}
	#biv #members .feed {overflow: auto; max-height: 355px;}
		#biv #members .feed aside {background:#73A7F5; padding: 7px; margin-bottom:7px;}
			#biv #members .feed aside:hover {background: #a0c1f4;}
			#biv #members .feed aside img {}
			#biv #members .feed aside span {padding: 0 7px;color: white;}


/*
**	@Users
*/

#users #top {font-size: 24px; padding: 7px; color: white; font-weight: bold; background: #A40696; width: auto; margin-bottom: 7px;}

#users #info {width: 66%; float: left; margin-right: 2%;}
	
	#users #info header {width: 50%;background:#73A7F5; color: white; text-align: center; margin-bottom: 7px; font-size: 24px;padding: 7px;}
	#users #info .search {float:right; width: 36%; padding: 5px 0 0 0;}
		#users #info .search input {}
		#users #info .search button {}
	
	#users #info .feed {overflow: auto; max-height: 375px;}
		#users #info .feed > aside {background:#73A7F5; padding: 7px; margin-bottom: 3px;color:white;}
			#users #info .feed > aside:hover {background: #a0c1f4;}
			#users #info .feed aside img {float: left;width: 25%; height: auto;}
			#users #info .feed aside .details {float:left; width: 71%; padding: 0 2%}
				#users #info .feed aside .details span {float: left; clear: both;}
				#users #info .feed aside .details span.title {}
				#users #info .feed aside .details span.contact {}
				#users #info .feed aside .details ul {clear:both; }	
					#users #info .feed aside .details ul li {}
					
#users #logo {width: 31%; float: left;}
	#users #logo img {}
	
/*
**	@Profile
*/

#profile {}

#profile #edit {}
	#profile #edit header {background:#73A7F5; color: white; text-align: center; margin-bottom: 7px; font-size: 24px;padding: 7px; display: inline-block;}
	#profile #edit input {margin-bottom: 7px; padding: 7px; font-size: 14px;}
	#profile #edit input.half {width: 49%;}
	#profile #edit input.margin {margin-right: 2%;}
	#profile #edit input.full {width: 100%;}

#profile #summary {width: 64%; margin-right: 2%;}

		#profile #summary .photo, #profile #summary .info {max-height: 275px;width: 48%;}
		#profile #summary .photo {}
			#profile #summary .photo img {border: 2px solid #dedede; }
		#profile #summary .info {padding: 7px;}
			#profile #summary .info .content {padding: 3px; overflow: auto; max-height: 225px; margin: 0 0 7px 0;}
		
		#profile #summary header {background:#73A7F5; color: white; text-align: center; margin-bottom: 7px; font-size: 24px;padding: 7px;}
		
		#profile #summary .summary aside,
		#profile #summary .skills aside,
		#profile #summary .experience aside,
		#profile #summary .education aside
			{height: 125px; overflow: auto;  background: white; border: 1px solid #dedede; margin: 0 0 13px 0; padding: 7px;}
		
		#profile #summary .summary {width: 47%; margin-right: 2%;}
		#profile #summary .skills {width: 49%;}
		#profile #summary .experience {width: 98%; margin-right: 2%;}
		#profile #summary .education {width: 98%;}
		
		
#profile #feed {width: 33%; }

	#profile #feed .biv {}
		#profile #feed .biv header {background: #78036E; }	
		#profile #feed .biv .entry {background: #78036E; }
		#profile #feed .biv .entry:hover {background: #851D7C; }			
		
	#profile #feed .articles {}
		#profile #feed .articles header {background:#73A7F5;}
		#profile #feed .articles .entry {background:#73A7F5; }
		#profile #feed .articles .entry:hover {background: #a0c1f4;}
	
		#profile #feed .feed {height: 225px; overflow: auto; }
			#profile #feed .feed .entry {margin-bottom: 7px; padding: 7px; font-size: 24px; color: white; text-align: center; }
		#profile #feed .feed:first-of-type {margin-bottom: 13px;}
		#profile #feed section header {margin-bottom: 3px; padding: 7px; font-size: 24px; font-weight: bold; color: white; display: inline-block; border-top-right-radius: 5px; border-top-left-radius: 5px;}
		
/*
**	@Buttons
**
*/
button {border: none; margin:1px;}

/* Sizes */
	button.small {font-size: .8em; padding: 3px;}
	button.medium {font-size:1.2em; padding: 7px;}
	button.large {font-size: 1.6em; padding: 13px;}

/* Types */
	button.round {border-radius: 7px;}
	
	button.close {border-radius: 15px; font-size: .8em;background: #002d6f; color: white; font-weight: bold; float:right; padding: 5px;}

/* Colors */
	button.btn-blue {background: #002d6f; color: white; font-weight: bold;}
	button.btn-blue:hover {background: #4b70a0; /* Old browsers */
	background: -moz-linear-gradient(top, #4b70a0 4%, #002d6f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#4b70a0), color-stop(100%,#002d6f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4b70a0 4%,#002d6f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4b70a0 4%,#002d6f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4b70a0 4%,#002d6f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4b70a0 4%,#002d6f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b70a0', endColorstr='#002d6f',GradientType=0 ); /* IE6-9 */ }


	button.btn-purple {background: #78036E; color: white; font-weight: bold;}

	button.btn-purple:hover {background: #a0238f; /* Old browsers */
	background: -moz-linear-gradient(top, #a0238f 15%, #78036e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#a0238f), color-stop(100%,#78036e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a0238f 15%,#78036e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a0238f 15%,#78036e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a0238f 15%,#78036e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a0238f 15%,#78036e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0238f', endColorstr='#78036e',GradientType=0 ); /* IE6-9 */}





